  <h1>Family Recipes</h1>
  <br><br>

  <div class="row">
    <div class='col-sm-6 col-md-4'>
      <div class="thumbnail">
        <img src='http://mediaassets.commercialappeal.com/photo/2014/09/12/g_dine4_7972638_ver1.0_640_480.jpg' alt='eggplant'>
        <div class='caption'>
          <h3>Family Recipes</h3>
          <p>
            <a href='/recipes' class='btn btn-primary' role='button'> View Recipes</a>
          </p>
        </div>
      </div>
    </div>

    <div class='col-sm-6 col-md-4'>
      <div class="thumbnail">
        <img src='http://www.eastbayexpress.com/binary/323d/food.jpg' alt='entree'>
        <div class='caption'>
          <h3>Categories</h3>
          <p>
            <a href='/categories' class='btn btn-primary' role='button'> View Categories</a>
          </p>
        </div>
      </div>
    </div>

    <div class='col-sm-6 col-md-4'>
      <div class="thumbnail">
        <img src='http://vafoodbanks.org/wp-content/uploads/2012/06/fresh_food.jpg' alt='veggies'>
        <div class='caption'>
          <h3>Ingredients</h3>
          <p>
            <a href='/ingredients' class='btn btn-primary' role='button'>Search by Ingredients</a>
          </p>
        </div>
      </div>
    </div>
  </div>
