<!DOCTYPE html>
<html>
  <head>
    <title>recipes</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class='container'>
  <%= yield %>
  <br><br><br>
  <a href='/'>Home</a>
</div>
  </body>
</html>
